/* Кнопка для подниятия */
#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

#scrollTopButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* Стили для навигационной панели */
/* Стили для основного меню на больших экранах */
@media screen and (orientation: landscape) {
    .site-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #8b2e2e;
        padding: 10px;
    }

    .site-nav a,
    .site-nav div {
        flex: 2;
    }

    .iwmobaile {
        background-color: rgba(68, 0, 255, 0.7);
    }

    .nav-link {
        white-space: nowrap;
        width: 215px;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin-right: 10px;
    }

    #bigNav {
        display: none;
        /* Предполагаю, что это ненужный элемент */
    }

    .open-all-btn {
        margin-right: auto;
    }

    /* Стили для выпадающего меню */
    .dropdown {
        display: inline-block;
    }

    .dropbtn {
        color: white;
        background-color: #555;
        padding: 10px 20px;
        border: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #555;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #777;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #777;
    }

    .sidenav {
        display: none;
    }
}


/* Стили для бокового меню на мобильных устройствах */
@media screen and (orientation: portrait) {
    #toolbar {
        width: 100%;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    /* Добавленные стили для открытого состояния боковой панели */
    .sidenav.open {
        width: 250px;
        /* Ширина боковой панели при открытии */
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .menu-toggle {
        cursor: pointer;
    }

    /* Скрытие основного меню на мобильных устройствах */
    .site-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

/* Услуги Боковое меню для мобильных устройств */
.submenu {
    display: none;
}

/* Стили для кнопок Боковое меню для мобильных устройств */
/* Стили для основной кнопки */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    /* Добавлено для позиционирования стрелочки */
}

/* Добавляем стрелочку справа */
.dropbtn::after {
    content: "\25B6";
    /* Символ стрелочки вправо */
    position: absolute;
    top: 50%;
    right: 10px;
    /* Расстояние от правого края кнопки */
    transform: translateY(-50%);
}

/* Стили для выпадающего контента */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Стили для ссылок в выпадающем контенте */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

/* Стили для ссылок в выпадающем контенте при наведении */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показывать выпадающий контент, когда наводим на кнопку */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Стили для вложенного выпадающего контента */
.submenu {
    display: none;
}

/* Стили для ссылок во вложенном выпадающем контенте */
.submenu a {
    padding: 10px 20px;
}

/* Показывать вложенный выпадающий контент, когда наводим на ссылку */
.dropdown-content .show {
    display: block;
}


}







/* Левое меню */
.main-button {
    /* Стили для главной кнопки */
}

.other-buttons {
    /* Стили для остальных кнопок */
    margin-top: 10px;
    /* Расстояние между кнопками */
}


/* Подвал */
/*Отступ столбцов подвала*/
.small-font {
    margin-bottom: 20px;
    /* Задайте нужный вам отступ между колонками */
}


/* Определяем базовый цвет ссылок */
.item-link a {
    color: #888;
    /* Базовый серый цвет */
    text-decoration: none;
    /* Убираем подчеркивание ссылок */
    transition: color 0.3s;
    /* Добавляем плавный переход для цвета */
}

/* Определяем цвет ссылок при наведении */
.item-link a:hover {
    color: #000;
    /* Чёрный цвет при наведении */
}


/*Подвал всякие стили*/
.wrap {
    font-size: 0.933em;
}

.item-link {
    margin-bottom: 0;
}

.item {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 0.933em;
}




.dropdown-content1 {
    width: 100%;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}